---
const {
  text = "",
  size = "md",   // sm / md
} = Astro.props;
---

<span class={`tag tag--${size}`}>{text}</span>

<style>
  .tag{
    display: inline-block;
    margin: 0px;
    padding: 2px 8px;

    background: #323c65;     /* 蓝色块 */
    color: #fff;

    border-radius: 0px;
    font-weight: 600;
    line-height: 1.4;
    vertical-align: middle;
    white-space: nowrap;
  }

  .tag--sm{
    font-size: 16px;
  }

  .tag--md{
    font-size: 13px;
  }
</style>